*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: #333;
    background-color: #fff;
    min-height: 100vh;
}

input, button, textarea, select {
    font: inherit;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

img, picture, svg, video, canvas {
    display: block;
    max-width: 100%;
}

ul, ol {
    list-style: none;
}

:focus-visible {
    outline: 3px solid #005bac;
    outline-offset: 2px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}