@charset "UTF-8";

body {
	text-align: center;
	background-color:#fff9e6;
}

.table {
	width: 50%;
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
	padding: 10px;
	border: 1px solid #ccc;
}

.table caption {
	caption-side: top;
	font-size: 1.5em;
	margin-bottom: 10px;
}



footer {
	background-color: saddlebrown;
	margin: 20px 0px 0px -10px;
	padding: 10px;
}